IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btn_s1" 88;
IO_PORT "btn_s1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "led_n[0]" 15;
IO_PORT "led_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led_n[1]" 16;
IO_PORT "led_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led_n[2]" 17;
IO_PORT "led_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led_n[3]" 18;
IO_PORT "led_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led_n[4]" 19;
IO_PORT "led_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led_n[5]" 20;
IO_PORT "led_n[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
